<div class="container">
  <h3>Payment Form</h3>
  <div class="row">
    <div class="form-group col">
    <label>Payee name</label>
    <input class="form-control" (input)="onNameChange($any($event.target).value)" />
    </div>
    <div class="col">
      <label class="col"><b>Name</b></label>
      <div>
        {{ name | titlecase }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
    <label>Payment Date</label>
    <input type="date" class="form-control" (input)="onDateChange($any($event.target).value)" />
    </div>
    <div class="col">
      <label class="col"><b>Payment Date</b></label>
      <div>
        {{ date | date: "MMMM d, y" }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
    <label>Payment Amount</label>
    <input class="form-control" (input)="onAmountChange($any($event.target).value)" />
    </div>
    <div class="col">
      <label class="col"><b>Payment Amount</b></label>
      <div>
        {{ amount | currency: 'EUR' }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
    <label>Height</label>
    <input class="form-control" (input)="onHeightChange($any($event.target).value)" />
    </div>
    <div class="col">
      <label class="col"><b>Height</b></label>
      <div>
        {{ height | number: '1.1-3' }}
      </div>
    </div>
  </div>

</div>

{{ car | json }}
